name: Мастер выпусков

on:
  push:
    branches:
      - beta
    paths:
      - 'Набор ресурсов/**'
      - 'Сборки/Monifactory/Перевод/**'
      - 'Сборки/The Ferret Business/Перевод/**'
  pull_request:
    branches:
      - beta
    paths:
      - 'Набор ресурсов/'
      - 'Сборки/Monifactory/Перевод/**'
      - 'Сборки/The Ferret Business/Перевод/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v2

      - name: Установка утилиты ZIP
        run: sudo apt-get install -y zip

      - name: Проверка последнего предварительного выпуска
        id: get_latest_release
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const token = core.getInput("github-token");
            const headers = {
              "Authorization": `token ${token}`,
              "Accept": "application/vnd.github.v3+json"
            };

            const response = await fetch(`https://api.github.com/repos/${context.repo.owner}/${context.repo.repo}/releases`, {
              method: "GET",
              headers: headers
            });
            const releases = await response.json();

            let next_version;
            if (releases.length === 0) {
              next_version = 1;
            } else {
              const latestRelease = releases
                .filter(release => release.tag_name.startsWith('b'))
                .map(release => parseInt(release.tag_name.replace('b', ''), 10))
                .filter(version => !isNaN(version))
                .sort((a, b) => b - a)[0];

              if (latestRelease) {
                next_version = latestRelease + 1;
              } else {
                next_version = 1;
              }
            }

            core.setOutput('next_version', next_version);

      - name: Создание архивов редакций для каждой из веток
        run: |
          for version in 1.7 1.12 1.16 1.17 1.18 1.19 1.20 1.21; do
            cd "Набор ресурсов/$version"
            zip -r ../../Rus-For-Mods-$version-B${{ steps.get_latest_release.outputs.next_version }}.zip assets dynamicmcpack.json pack.mcmeta respackopts.json5
            cd ../../
            zip -g ../../Rus-For-Mods-$version-B${{ steps.get_latest_release.outputs.next_version }}.zip 'Набор ресурсов/pack.png' 'Набор ресурсов/PeruseOrBruise.txt'
          done
          cd "Сборки/Monifactory/Перевод/"
          zip -r ../../../Monifactory-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip .
          cd ../../../
          cd "Сборки/The Ferret Business/Перевод/"
          zip -r ../../../The-Ferret-Business-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip .
          cd ../../../

      - name: Создание тега для выпуска
        id: create_tag
        run: |
          tag_name="b${{ steps.get_latest_release.outputs.next_version }}"
          git tag $tag_name
          git push origin $tag_name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Создание выпуска
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          token: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: Это автоматический выпуск со всеми последними изменениями. Обратите внимание, что изменения, совершённые в этом выпуске, не проверены для выпуска и могут быть некорректными. О них НЕ НУЖНО сообщать разработчику, так как все проблемы скорее всего будут рано или поздно исправлены в следующих предварительных редакциях.
          tag_name: b${{ steps.get_latest_release.outputs.next_version }}
          name: Бета-выпуск №${{ steps.get_latest_release.outputs.next_version }}
          draft: false
          prerelease: true

      - name: Загрузка архива ветки 1.7 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.7-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.7-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.12 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.12-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.12-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.16 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.16-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.16-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.17 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.17-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.17-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.18 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.18-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.18-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.19 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.19-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.19-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.20 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.20-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.20-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива ветки 1.21 в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Rus-For-Mods-1.21-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Rus-For-Mods-1.21-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива перевода Monifactory в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./Monifactory-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: Monifactory-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Загрузка архива перевода «Хорькового бизнеса» в выпуск
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./The-Ferret-Business-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_name: The-Ferret-Business-Russian-Translation-B${{ steps.get_latest_release.outputs.next_version }}.zip
          asset_content_type: application/zip

      - name: Публикация на CurseForge и Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 374772
          curseforge-token: ${{ secrets.CF_API_KEY }}
          modrinth-id: GsoCvyCO
          modrinth-featured: false
          modrinth-token: ${{ secrets.MODRINTH_API_KEY }}
          files: |
            ./Rus-For-Mods-1.21-B${{ steps.get_latest_release.outputs.next_version }}.zip
          name: Бета-версия №${{ steps.get_latest_release.outputs.next_version }} для MC 1.21
          version: 1.21-B${{ steps.get_latest_release.outputs.next_version }}
          version-type: beta
          loaders: minecraft
          game-versions: |
            1.21
          game-version-filter: releases
          dependencies: |
            better-resource-pack-sorting(optional){modrinth:SpY2M2I9}{curseforge:556855}#(ignore:github)
            dynamicpack(optional){modrinth:IT6fZgjc}#(ignore:github)
            respackopts(optional){modrinth:TiF5QWZY}{curseforge:430090}#(ignore:github)